.header {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;
    padding: 15px;
}
.navigations {
    display: flex;
    justify-content: center;
}
.navigations ul {
    display: flex;
}
.nav-a {
    padding-left: 20px;
}
#input-box {
    margin: 50px;
}
i {
    margin: 10px;
}
.burger-bar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid blueviolet;
    cursor: pointer;
    display: none;
}
.line {
    width: 90%;
    height: 2px;
    background-color: blueviolet;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s linear;
}
.line1 {
    top: 30%;
}
.line3 {
    top: 70%;
}
.activebar .line1 {
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.activebar .line3 {
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.activebar .line2 {
    display: none;
}


@media (max-width: 768px) {
    .burger-bar {
        display: block;
    }
    .navigations {
        display: none;
    }
    .header {
        flex-direction: column;
    }
    ul {
        flex-direction: column;   
    }
    li {
        margin-top: 15px;
    }
    .navigations.activeNav {
        display: block;
    }
}
